@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* GLOBAL */
body,
html {
    overflow-x: clip;
    overflow-y: visible;
}

section {
    padding: 120px 0 100px;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

p {
    color: #000;
}

span {
    display: inline-block;
}

.top-heading h2 {
    font-size: 42px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: #2D3043;
    line-height: 1.3;
}

.top-heading span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #03071E;
    background: #FAA528;
    padding: 8px 12px;
}

.top-heading p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #575A69;
    line-height: 2;
}

a.read-more {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #C13291;
}

.scrollToTopBtn {
    width: 50px;
    height: 50px;
    background: #C13291;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed;
    z-index: 99999;
    bottom: 0;
    right: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 30px;
}

.showBtn {
    opacity: 1;
    transform: translateY(-40px);
    pointer-events: all;
}

.con-rel {
    position: relative;
}

.times,
.bars {
    display: none;
}
/* GLOBAL */

/* HEADER */
header {
    position: relative;
    z-index: 999990;
}

header.fixed .top-header {
    display: none;
}

header.fixed nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
    background: #fff;
    padding: 5px 0;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.15);
}

.top-header {
    background: #C13291;
    padding: 20px 0;
}

.top-header .icon {
    line-height: 0;
}

.top-header .container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .left {
    display: flex;
    align-items: center;
    gap: 0 50px;
}

.top-header .left-el a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #F9F0F0;
}

.top-header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 22px;
}



nav {
    padding: 10px 0;
    position: relative;
    transition: all .3s ease-in-out;
}

nav .container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container-flex ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 70px;
}

nav .container-flex ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1E1E1E;
    text-transform: capitalize;
}

nav .container-flex ul li a.active-color,
nav .container-flex ul li a:hover {
    font-weight: 700;
    color: #C13291;
}

nav .container-flex ul li {
    position: relative;
}

nav .container-flex ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37px;
    height: 1px;
    background: #C13291;
    transform: scale(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
}

nav .container-flex ul li.active::after,
nav .container-flex ul li:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 0 25px;
}

.nav-right a svg path {
    transition: all .3s ease-in-out;
}

.nav-right a:hover svg path {
    fill: #C13291;
}

/* HEADER */

/* SEARCH BOX */
.search-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.search-box.active {
    opacity: 1;
    pointer-events: all;
}

.search-box form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #03071E;
    padding: 10px 0;
}

.search-box .form-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
    width: 100%;
}

.search-box .form-left input {
    width: 100%;
    border: none;

    font-family: 'Plus Jakarta Sans', sans-serif;
    outline: none;
}

.search-box .form-left .input-close {
    cursor: pointer;
}

.search-box form button {
    border: none;
    background: none;
    transition: all .3s ease-in-out;
}

.search-box form button svg path {
    transition: all .3s ease-in-out;
}

.search-box form button:hover svg path {
    fill: #C13291;
}

/* SEARCH BOX */


/* HERO */
.hero {
    background: #733BB9 url(imgs/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 0 240px;
    position: relative;
}
.hero .container {
    position: relative;
    z-index: 1;
}
.hero-img {
    position: absolute;
    top: 0;
    right: 0;
}

.hero-img-btm {
    display: none;
}

.hero-content h3 {
    font-weight: 400;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
}

.hero-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    text-transform: capitalize;
}

.hero-content h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.hero-content p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    width: 526px;
    color: #fff;
}

.hero-content .btnn {
    background: #fff;
    color: #C13291;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding: 28px 45px;
    border: 1px solid #fff;
    line-height: 0;
}

.hero-content .btnn:hover {
    background: #C13291;
    color: #fff;
}

.hero-btm-sec {
    padding: 30px 0;
    transform: rotate(-2deg);
    margin-top: -50px;
    position: relative;
    z-index: 1;
    background: #F9F0F0;
}

.hero-btm-sec::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background: #F9F0F0;
    z-index: -1;
}

.hero-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 30px;
    margin-top: 40px;
}

.hero-btns .video {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #FAA528;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    /* z-index: 1; */
}

.hero-btns .video::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 90px;
    height: 90px;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.8), 0 0 0 30px rgba(255, 255, 255, 0.6), 0 0 0 45px rgba(255, 255, 255, 0.4);
    z-index: -1;
    border-radius: 50%;
    animation: sppbModalRipple 2s infinite;
}

@keyframes sppbModalRipple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.serv-marqee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-inner {
    display: flex;
    gap: 0 60px;
    animation: scroll 30s linear infinite;
}

.marquee-inner span {
    display: inline-block;
    padding: 0 30px;
}

.serv-marqee span {
    color: black;
    -webkit-text-fill-color: #ebf0fe;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #626262;
    text-transform: uppercase;
    font-family: "Urbanist", sans-serif;
    font-size: 110px;
    font-weight: 600;
    opacity: 0.2;
    white-space: nowrap;
    width: max-content;
    line-height: 1.2;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* HERO */


/* ABOUT US */
.about-us-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    overflow: hidden;
}

.about-us-left .img {
    overflow: hidden;

}

.about-us-left .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s ease-in-out;
}

.about-us-left .img:hover img {
    transform: scale(1.1);
}

.about-us .top-heading h2 {
    position: relative;
    padding-bottom: 35px;
    margin-top: 20px;
    max-width: 555px;
}

.about-us .top-heading h2::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 192px;
    height: 1px;
    background: #81838E;
}

.about-us .top-heading p {
    margin-top: 5px;
    max-width: 555px;
}


.about-us a.read-more iconify-icon {
    transition: all .3s ease-in-out;
}

.about-us a.read-more:hover {
    color: #03071E;
}

.about-us a.read-more:hover iconify-icon {
    transform: translateX(4px);
}

.about-us {
    position: relative;
}

.about-us-top {
    position: absolute;
    left: 0;
    top: 0;
    animation: moveTopAbout infinite alternate 2s linear;
}

@keyframes moveTopAbout {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

.about-us-btm {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveBtmAbout infinite alternate 2s linear;
}

@keyframes moveBtmAbout {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(15px);
    }
}

/* ABOUT US */


/* SERVICES */
.services {
    background: url(imgs/srv-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 150px;
}

.services-content {
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    text-align: center;
}

.services .srv-col:nth-child(odd) .services-content {
    background: #793DC3;
}

.services .srv-col:nth-child(even) .services-content {
    background: #C13291;
}

.services-content .img {
    transition: all .3s ease-in-out;
}

.services-content:hover .img {
    transform: translateY(-10px);
}

.services-content h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
}

.services-content p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
}



/* SERVICES */

/* MENU */
.menu-top-right p {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #575a69;
    max-width: 550px;
}

.tab-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 40px;
}

.tab-buttons .tab {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #C13291;
    border: 2px solid #C13291;
    padding: 16px 30px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.tab-buttons .tab.active {
    background: #C13291;
    color: #fff;

}

.tab-buttons .tab:hover {
    background: #C13291;
    color: #fff;
}

.menu-heading h2 {
    position: relative;
    padding-bottom: 20px;
}

.menu-heading h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 192px;
    height: 1px;
    background: #000000;
}

.menu-content {
    width: 100%;
    height: 100%;
    border: 1px solid #F1D7D8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}

.menu-content .img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.menu-content .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s ease-in-out;
}

.menu-content .img:hover img {
    transform: scale(1.1);
}

.menu-content .info {
    padding: 25px 15px;

    width: 100%;
}

.menu-content .info h4 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #2d3043;
}

.menu-content .info p {
    margin-bottom: 0;
    margin-top: 15px;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;

    color: #575a69;
}

.menu-content .price {
    border-top: 1px solid #F9F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.menu-content .price h5 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    color: #793dc3;
}

.menu-content .price a.order-btn {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #f9f0f0;
    background: #C13291;
    padding: 12px 20px;
    text-transform: uppercase;
    border: 1px solid #C13291;
}

.menu-content .price a.order-btn:hover {
    background: transparent;
    color: #C13291;
}

.top-rest-content-outer.hide {
    display: none;
}

.top-rest-content-outer {
    animation: slideUp 0.5s linear alternate;
    transition-delay: 0.5s;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-sec .read-more {
    margin-top: 30px;
    justify-content: center;
    color: #C93535;
}

.menu-sec .read-more iconify-icon {
    transition: all .3s ease-in-out;
}

.menu-sec .read-more:hover {
    color: #03071E;
}

.menu-sec .read-more:hover iconify-icon {
    transform: translateX(4px);
}

.menu-sec .con-rel {
    position: relative;
}

.menu-sec .menu-top1 {
    position: absolute;
    left: -8rem;
    top: -7rem;
    animation: moveMenuTop1 infinite alternate 2s linear;
}

@keyframes moveMenuTop1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

.menu-sec .menu-top2 {
    position: absolute;
    right: -3rem;
    top: -6rem;
    animation: moveMenuTop2 infinite alternate 2s linear;
}

@keyframes moveMenuTop2 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.menu-sec .menu-top3 {
    position: absolute;
    left: -6rem;
    bottom: -8rem;
    animation: moveMenuTop1 infinite alternate 2s linear;
}

.menu-sec .menu-top4 {
    position: absolute;
    right: -5rem;
    bottom: -10rem;
    animation: moveMenuTop2 infinite alternate 2s linear;
}

.menu-sec {
    padding-bottom: 200px;
}

/* MENU */


/* QR SECTION */
.qr-sec {
    background: #733BB9 url(imgs/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    position: relative;
}

.qr-sec h3 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    text-align: left;
    color: #ffffff;
}

.qr-sec .col-rel {
    position: relative;
}

.qr-sec-img {
    position: absolute;
    top: -13rem;
    left: 50%;
    transform: translateX(-50%);
}

/* QR SECTION */

/* HOME CONTACT */
.home-contact iframe {
    width: 100%;
    height: 690px;
}

.home-con-form {
    border: 4px solid #C1329133;
    padding: 25px 40px 40px;
}

.home-con-form h4 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    text-transform: capitalize;
    color: #233d4d;
    text-align: center;
    margin-bottom: 30px;
}

.home-con-form input {
    display: block;
    width: 100%;
    border: 3px solid #D9D9D9;
    height: 50px;
    outline: none;
    padding: 0 10px;
}

.home-con-form input:focus,
.home-con-form textarea:focus {
    border-color: #C13291;
}

.home-con-form textarea {
    display: block;
    width: 100%;
    border: 3px solid #D9D9D9;
    height: 90px;
    outline: none;
    padding: 10px;
}

.home-con-form label {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 10px;
}

.home-con-form button {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    text-transform: capitalize;

    color: #ffffff;
    background: #C13291;
    border: 1px solid #C13291;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    transition: all .3s ease-in-out;
}

.home-con-form button:hover {
    background: transparent;
    color: #C13291;
}

.home-contact .container {
    position: relative;
}

.home-con-img-top {
    position: absolute;
    top: -8rem;
    left: -7rem;
    animation: moveConImgTop infinite alternate 2s linear;
}

@keyframes moveConImgTop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

.home-con-img-btm {
    position: absolute;
    bottom: -8rem;
    right: -8rem;
    animation: moveConImgBtm infinite alternate 2s linear;
}

@keyframes moveConImgBtm {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(15px);
    }
}

/* HOME CONTACT */

/* YELP SECTION */
.yelp-sec {
    background: url(imgs/reviews-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
    padding-bottom: 120px;
}

.reviews-page-sec .yelp-btns {
    justify-content: flex-end;
}

.yelp-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 20px;
}

.yelp-btns .secondary {
    background: transparent;
    color: #C13291;
    border-color: #C13291;
}

.yelp-btns .secondary:hover {
    background: #C13291;
    color: #fff;
}

.yelp-btn {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #ffffff;
    background: #C13291;
    border: 1px solid #C13291;
    padding: 12px 30px;
    width: 162px;
    text-transform: capitalize;
}

.yelp-btn:hover {
    background: transparent;
    color: #C13291;
}

/* YELP SECTION */


/* FOOTER */
.footer {
    background: #733BB9 url(imgs/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 30px;
    position: relative;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.footer-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 12px;
}

.footer-links ul li a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;

    color: #ffffff;
    text-transform: capitalize;
}

.foter-row-top {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.footer-row {
    padding-top: 30px;
}

.footer-row p {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #ffffff;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 15px;
}

/* FOOTER */


/* INNER PAGE */
.inner-hero ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.inner-hero ul li a {
    padding-right: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 72px;
    text-align: left;

    color: #ffffff;
    text-transform: capitalize;
}

.inner-hero ul li a.active {
    font-weight: 700;
}

.inner-hero .hero-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* INNER PAGE */

/* MENU PAGE */
.menu-sec-inner {
    padding-top: 70px;
}

.menu-sec-inner .menu-top1 {
    top: -4rem;
}

.menu-sec-inner .menu-top4 {
    bottom: -13rem;
}

.menu-sec-inner .menu-top3 {
    top: 50%;
    transform: translateY(-50%);
    left: -10rem;
}

.inner-con {
    padding-top: 0px;
}

/* MENU PAGE */


/* SINGLE MENU PAGE */
/* .thumbnail_slider {
    max-width: 700px;
    margin: 30px auto;
} */

.splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .2s;
    border-width: 1px !important;
}

.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
    border-color: #C13291;
}

.splide__slide img {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.secondary-slider {
    margin-top: 20px;
}

.single-menu-sec {
    position: relative;
}

.single-menu-price {
    margin-top: 30px;
}

.single-menu-price .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.single-menu-price .info h6,
.single-menu-price .info span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    margin-bottom: 0;
    color: #2d3043;
}

.single-menu-price .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-menu-price .total h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    color: #2d3043;
}

.single-menu-price .total h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    color: #2d3043;
}

.single-menu-right .top-heading h2 {
    margin-top: 15px;
}

.single-menu-right .top-heading h2 span {
    background: initial;
    padding: 0;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    text-align: left;
    color: #793dc3;
}

.single-menu-right .top-heading h2 span em {
    font-style: normal;
}

.single-menu-right .line {
    width: 192px;
    background: #81838E;
    height: 1px;
}

/* SINGLE MENU PAGE */



/* ACCORDION CSS */
.accor {
    background: #ffffff;
    box-shadow: 0px 4px 38.400001525878906px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}

.accor .accor-top {
    background: #FAA528;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
}

.accor .accor-top h4 {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: left;

    color: #2d3043;
    margin-bottom: 0;
}

.accor .accor-top .icon {

    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.accor .accor-top .icon iconify-icon {
    font-size: 40px;
}

.accor .accor-btm {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.accor.active .accor-btm {
    max-height: 20rem;
}

.accor.active .icon iconify-icon {
    transform: rotate(180deg);
}

.accor .accor-btm-inner {
    padding: 35px 16px;
}

.custom-radio-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 31.12820053100586px;
    text-align: left;
    color: #575a69;
}

.custom-radio input[type="radio"] {
    display: none;
    /* Hide the default radio button */
}

.custom-radio-mark {
    width: 20px;
    height: 20px;
    border: 1px solid #B9B9B9;
    box-shadow: 0 4px 18.6px 0 rgba(0, 0, 0, 0.25);
    background: transparent !important;
    padding: 0 !important;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-radio input[type="radio"]:checked+.custom-radio-mark {
    background-color: #fff;
    border-color: #0056b3;
}

.custom-radio-mark::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #793DC3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.custom-radio input[type="radio"]:checked+.custom-radio-mark::after {
    opacity: 1;
}


.single-accor-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    gap: 0 25px;
}

.single-accor-btns .inc {
    width: 100%;
    height: 50px;
    border: 1px solid #B9B9B9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 10px;
}

.single-accor-btns .inc input {
    flex: 2;
    text-align: center;

    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    border: none;
    outline: none;
    color: #2d3043;
}

.single-accor-btns .inc-icon {
    line-height: 0;
}

.single-accor-btns .add-to-cart-btn {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    background: #C13291;
    border: 1px solid #C13291;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #f9f0f0;
    transition: all .3s ease-in-out;
}

.single-accor-btns .add-to-cart-btn:hover {
    background: transparent;
    color: #C13291;
}

.single-accor-btns .inc-icon {
    display: flex;
    flex-direction: column;
}

.single-accor-btns .inc-icon iconify-icon {
    font-size: 20px;
    cursor: pointer;
}


/* Remove arrows for Chrome, Edge, and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.single-menu-sec .menu-single-top {
    position: absolute;
    left: -8rem;
    top: -7rem;
    animation: moveMenuTop1 infinite alternate 2s linear;
}

.related-menu {
    padding-top: 0px;
}

.related-menu .top-heading h2 {
    margin-top: 18px;
    position: relative;
    padding-bottom: 25px;
}

.related-menu .top-heading h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 192px;
    height: 1px;
    background: #000;
}

.related-img-top {
    position: absolute;
    left: -10rem;
    top: 3rem;
    animation: moveMenuTop1 infinite alternate 2s linear;
}

.related-img-btm {
    position: absolute;
    right: -9rem;
    bottom: 0rem;
    animation: moveMenuTop1 infinite alternate 2s linear;
}

@keyframes moveMenuTop1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}